body {
    background: url('iron1.jpg') 50% 0 no-repeat #000;
    margin: 0px;
    background-size: 70%;
    min-width: 320px;
}

.slider {
    position: relative;
    width: 100%;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider input[name="switch"] {
    display: none;
}

.switch {
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    display: none;
}

.switch label {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .8);
    border-radius: 50%;
    border: 5px solid #2f363c;
    background-color: #738290;
}

#btn1:checked~.switch label[for="btn1"] {
    background-color: white;
}

#btn2:checked~.switch label[for="btn2"] {
    background-color: white;
}

#btn3:checked~.switch label[for="btn3"] {
    background-color: white;
}

.slider-inner {
    overflow: hidden;
}

.slides {
    width: 300%;
    transition: all 0.5s;
}

.slides .slide {
    width: 32%;
    margin: 0 0.5% 40px 0.5%;
}

.slides .slide:last-child {
    margin: 0 1% 0 1%;
}

.slides .slide .title {
    text-align: center;
}

.slides .slide video {
    width: 100%;
}

#btn1:checked~.slider-inner slides {
    transform: translate(0);
}

#btn2:checked~.slider-inner .slides {
    transform: translate(-33%);
}

#btn3:checked~.slider-inner .slides {
    transform: translate(-66%);
}

div {
    padding: 0px;
    font-size: 17px;
    text-align: left;
    color: white;
}

header {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: white;
    text-transform: uppercase;
}

main {
    display: flex;
}

footer {
    color: darkgray;
    font-size: 13px;
}

#leftSidebar {
    background-color: rgba(43, 43, 43, 1);
    color: white;
    width: 300px;
    height: auto;
    flex: none;
    margin-top: 30px;
}

#leftSidebar h2 {
    text-align: center;
}

#main {
    background-color: rgba(8, 7, 7, 0.8);
    height: auto;
    padding: 0 10px 0 10px;
}

#all {
    width: 70%;
    margin: auto;
}

.hidden-menu-ticker {
    display: none;
}

.dop {
    color: darkgray;
    font-size: 13px;
    margin-top: 77px;
    margin-bottom: 20px;
}

.block {
    min-height: 400px;
}

.block:first-of-type:before {
    content: "Смотреть новинки онлайн";
    color: white;
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin-top: 5px;
}

A {
    color: white;
}

A:visited {
    color: red;
}

A:active {
    color: slategray;
}

img {
    margin-right: 10px;
    width: 210px;
    float: left;
}

video[src$=".mp4"] {
    width: 300px;
}

@media (max-width: 1024px) {
    #all {
        width: 96%;
        margin: auto;
    }
}

@media (max-width: 768px) {
    body {
        background: black;
        margin: 0%;
        padding: 0%;
    }
    div {
        text-align: left;
        color: white;
        padding: 0;
        margin: 0;
    }
    header {
        text-align: center;
    }
    main {
        flex-direction: column;
    }
    footer {
        width: 98%;
        margin: 0 1% 0 1%;
    }
    #all {
        width: 100%
    }
    .hidden-menu {
        display: block;
        position: fixed;
        list-style: none;
        padding: 10px;
        margin: 0;
        box-sizing: border-box;
        width: 200px;
        background-color: black;
        height: 100%;
        top: 0;
        left: -200px;
        transition: left .2s;
        z-index: 2;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .btn-menu {
        color: #fff;
        background-color: #666;
        padding: 5px;
        position: fixed;
        top: 5px;
        left: 5px;
        cursor: pointer;
        transition: left .23s;
        z-index: 3;
        width: 25px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .btn-menu span {
        display: block;
        height: 5px;
        background-color: #fff;
        margin: 5px 0 0;
        transition: all .1s linear .23s;
        position: relative;
    }
    .btn-menu span.first {
        margin-top: 0;
    }
    .hidden-menu-ticker:checked~.btn-menu {
        left: 160px;
    }
    .hidden-menu-ticker:checked~.hidden-menu {
        left: 0;
    }
    .hidden-menu-ticker:checked~.btn-menu span.first {
        -webkit-transform: rotate(45deg);
        top: 10px;
    }
    .hidden-menu-ticker:checked~.btn-menu span.second {
        opacity: 0;
    }
    .hidden-menu-ticker:checked~.btn-menu span.third {
        -webkit-transform: rotate(-45deg);
        top: -10px;
    }
    .second-left {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .second-left .line-block {
        background: black;
        margin-right: 5px;
        width: 32%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .second-left .line-block div {
        font-size: 14px;
    }
    .second-left .line-block .title {
        padding: 0 10px 0 10px;
    }
    .second-left .line-block video {
        width: 99%;
        padding-top: 5px;
        vertical-align: bottom;
    }
    .second-left .line-block .dop {
        display: none;
    }
    #leftSidebar {
        background: black;
        margin: 0;
        padding: 0;
        width: 100%;
        order: 2;
    }
    #leftSidebar h2 {
        text-align: center;
    }
    .block:first-of-type:before {
        text-align: center;
    }
    #main {
        background-color: rgba(8, 7, 7, 0.8);
        margin: 0;
        order: 1;
        clear: both;
    }
    .switch {
        display: block;
    }
    .slides .slide {
        float: left;
    }
    .slides .slide .dop {
        display: none;
    }
}

@media (max-width: 420px) {
    ul {
        width: 100%;
    }
    #all {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    header {
        font-size: 20px;
        width: 100%;
        padding: 0%;
        margin: 0%;
        background: #000;
    }
    footer {
        font-size: 10px;
    }
    .dop {
        color: darkgray;
        font-size: 13px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .block {
        min-height: 400px;
    }
    A {
        color: white;
    }
    A:visited {
        color: red;
    }
    A:active {
        color: slategray;
    }
    img {
        margin-right: 10px;
        width: 100%;
        float: left;
    }
    video[src$=".mp4"] {
        width: 99%;
        padding-top: 5px;
        vertical-align: bottom;
    }
}